<!DOCTYPE html>
<html>
<body>

<div class="w3-container w3-teal">
  <h1>Upload a photo</h1>
</div>

<form action="fileupload" method="post" enctype="multipart/form-data"
      class="w3-container" style="width:100%">
      	Title:<br>
  	<input name="title" type="text" required><br>
  	Description:<br>
  	<input name="description" type="text" required><br>
  	Photo:<br>
  	<input name="filetoupload"type="file"><br><br>
	<button> Upload </button><br>
</form>

</body>
</html>
